<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Network_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Network_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Network_Monitor.Properties.Settings>
            <setting name="MustUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="Bits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Horizontal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </Network_Monitor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Network_Monitor.Properties.Settings>
            <setting name="PingHost" serializeAs="String">
                <value>8.8.8.8</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>00:00:04</value>
            </setting>
        </Network_Monitor.Properties.Settings>
    </applicationSettings>
</configuration>