<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Network_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Network_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <userSettings>
    <Network_Monitor.Properties.Settings>
      <setting name="MustUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Topmost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowInTaskbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>96</value>
      </setting>
      <setting name="Placement" serializeAs="Xml">
        <value>
          <WindowPlacement xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Length>0</Length>
            <Flags />
            <ShowCommand>Hide</ShowCommand>
            <MinimizedPosition>
              <X>0</X>
              <Y>0</Y>
            </MinimizedPosition>
            <MaximizedPosition>
              <X>0</X>
              <Y>0</Y>
            </MaximizedPosition>
            <NormalBounds>
              <Left>0</Left>
              <Top>0</Top>
              <Right>0</Right>
              <Bottom>0</Bottom>
            </NormalBounds>
          </WindowPlacement>
        </value>
      </setting>
      <setting name="Bits" serializeAs="String">
        <value>True</value>
      </setting>
    </Network_Monitor.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Network_Monitor.Properties.Settings>
      <setting name="PingHost" serializeAs="String">
        <value>8.8.8.8</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>00:00:01</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>00:00:04</value>
      </setting>
    </Network_Monitor.Properties.Settings>
  </applicationSettings>
</configuration>
